*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title{
    color: white;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to right, #9219f5, rgb(250, 64, 219));
    margin: 0.5% 30% ;
    padding: 10px;
    border-radius: 0px 25px;

}

.box-title{
    margin: 10px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    color: white;
    background: linear-gradient(to right, #9219f5, rgb(250, 64, 219));
    border-radius: 25px;
}

.container{
    display: flex;
}
.box{
    margin: 10px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;

}

.box-image{
    margin: 20px 1px 5px 1px;
    padding: 10px;
    width: 90%;
    border-radius: 25px;
}
.list{
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}